.login {
    height: 100vh;
    overflow: hidden;
}

.login_nr {
    width: 400px;
    height: 380px;
    background-color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}